{% extends 'layout_teacher.html' %}
{% block content %}
<div class="container">
    <h3>Add Problem</h3>
    <hr>
    <h6>Add Question</h6>
    <textarea rows="4" cols="50" name="Question" form="questionform" value="">
    </textarea>
    <form action='/create_quiz' method='POST' id="questionform">
        <br>
        Option1: <input type='text' name='Option1' id='Option1' value="OPTION1">
        <br>
        Option2: <input type='text' name='Option2' id='Option2' value="OPTION2">
        <br>
        Option3: <input type='text' name='Option3' id='Option3' value="OPTION3">
        <br>
        Option4: <input type='text' name='Option4' id='Option4' value="OPTION4">
        <br>
        Correct_option: <input type='text' name='Correct_option' id='Correct_option' value="Correct Answer From Above">
        <br>
        <input type='submit' value='Add_question'>
        <br>
        <input type='submit' value='Submit'>
    </form>
    <hr>
</div>
{% endblock %}